include README.rst
include LICENSE.rst
include bdist_nsi/python-install.ico
include bdist_nsi/python-uninstall.ico
include bdist_nsi/python-install-150x57.bmp
include bdist_nsi/python-install-164x314.bmp

